<p>
  <%%= form.label :published_at %><br />
  <%%= form.datetime_select :published_at %>
</p>
<% if options[:published_until_field] %><p>
  <%%= form.label :published_until %><br />
  <%%= form.datetime_select :published_until %>
</p><% end %>
<p>
  <%%= form.label :publishing_enabled %>
  <%%= form.check_box :publishing_enabled %>
</p>
